mat-form-field {
  width: 60%;
}

button {
  width:60%;
}

.main {
  margin-top: 2rem;
}

.input {
  color: aqua !important;
}

.submit {
  margin-top: 2rem;
  max-width: 100%;
}

.spacer {
  padding-top: 5%;
}

@media screen and (max-width: 600px) {
  mat-form-field {
    width: 90%;
  }

  button {
    width:90%;
  }
}
